:host {
  display: block;
  padding: 0 16px;
}

.container {
  background: #1b242c;
  border-radius: 10px;
}

.header-text {
  color: #fff;
}

.list-group-item .glyphicon {
  color: red;
  font-size: 20px;
  cursor: pointer;
}